@font-face {
	font-family: Ampersand;
	src: local('Adobe Garamond Pro');
	unicode-range: U+26;
}

body {
	font-family: Ampersand, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background: #9DE0AD;
	color: #594F4F;
}

h1, h2 {
	margin: 0;
}

h1 {
	font-size: 2em;
}

h2, header span {
	font-size: 16px;
	font-size: 1rem;
}

h1 span {
	color: #547980;
}

li {	
	list-style: none;
}

p a {
	font-size: 0.6em;
}

a, a:visited, a:active {
	color: currentColor;
	text-decoration: none;
}

body > header {
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    	-webkit-flex-flow: column nowrap;
    	    -ms-flex-flow: column nowrap;
    	        flex-flow: column nowrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	overflow: auto;
	padding-top: 1em;
	background-color: #547980;
	border-bottom: 0.3em solid #45ADA8;
}

body > header li {
	text-align: left;
	-webkit-transition: 0.3s ease-in-out;
	        transition: 0.3s ease-in-out;
}

body > header li:hover {
	text-align: left;
	background-color: #30555C;
	color: #9DE0AD;
}

body > header h1 {
	padding: 0 16px;
	padding: 0 1rem;
}

header, main, footer {
    	box-sizing: border-box;
}

main, footer {
	margin: 0 1em;
}

main header {
	padding-top: 0;
	padding-left: 0;
}

main > article{
	background-color: white;
	padding: 1em;
	border-top: 0.3em solid #45ADA8;
}

#photo-albums figure {
	text-align: center;
}

main > article, footer {
	margin-top: 1em;
}

header nav {
	width: 100%;
}

header nav > ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    	-webkit-flex-flow: column nowrap;
    	    -ms-flex-flow: column nowrap;
    	        flex-flow: column nowrap;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding-left: 0;
	width: 100%;
}

header nav li {
	width: 100%;    
	-webkit-box-pack: start;    
	-webkit-justify-content: flex-start;    
	    -ms-flex-pack: start;    
	        justify-content: flex-start;
	padding-left: 2em;
	box-sizing: border-box;
}

header nav a {
	padding: 0;
	text-align: left;
	min-width: 120px;
}

img {
	display: inline-block;
	max-width: 100%;
}

header img {
	border-radius: 100em;
	border: 0.3em solid #45ADA8
}

nav a {
	line-height: 200%;
	display: block;
}

nav svg {
	fill: currentColor;
	width: 1em;
	height: 1em;
}

footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-flex-flow: column wrap;
	    -ms-flex-flow: column wrap;
	        flex-flow: column wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 1em;
	font-size: 0.7em;
	width: 100%;
}

footer ul, footer nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	width: 100%;
}

footer ul {
	padding-left: 0;
	margin-top: 0;
}

footer li{
	 padding: 0 0.15em;
	display: inline-block;
}

footer address {
	font-size: 16px;
	font-size: 1rem;
	width: 100%;
	margin: 0;
	text-align: center;
	-webkit-box-ordinal-group: 4;
	-webkit-order: 3;
	    -ms-flex-order: 3;
	        order: 3;
}

footer pre {
	margin: 0;
}

fieldset, legend {
	border: 0;
	margin-top: 1em;
	padding: 0;
}

legend {
	margin-bottom: 0.5em;
}

label {
	margin-bottom: 1em;
}

label input {
	display: block;
	right: 0;
}

button {
	margin-top: 1em;
}

@media (min-width: 760px) {
	body {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		-webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	body > header {
		position: fixed;
		height: 100%;
		left: 0;
   		max-width: 25%;
		border-right: 0.3em solid #45ADA8;
		border-bottom: 0;
	}

	main, footer {
		max-width: 32rem;
		margin-left: 27%;
	}

	label {
		width: 40%;
		display: inline-block;
	}

	footer {
		-webkit-box-ordinal-group: 4;
		-webkit-order: 3;
		    -ms-flex-order: 3;
		        order: 3;
	}
}

@media (min-width: 1000px) {
	main, footer {
		max-width: 46rem;
	}

	label {
		width: 27%;
	}
}

@media (min-width: 1200px) {
	main, footer {
		margin-left: 30%;
	}
}
